<IfModule mod_rewrite.cs>
    Options -Multiviews
    RewriteEngine on
    RewriteBase /web
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSL,L]
</IfModule>